*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
}
header{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: rgb(0, 0, 0);
    padding: 2 rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(86, 164, 171);
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;

}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    transform: opacity 0.3s;
}
nav a:hover{
    opacity: 0.7;
}
.hero{
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 60px 20px;
}
.btn {
    background-color: #ff6b6b;   
    color: white;                
    padding: 12px 25px;          
    border: none;                
    border-radius: 25px;         
    font-size: 16px;
    cursor: pointer;             
}
.btn:hover {
    background-color: #ff4757;
}
.hero h1{
    font-size: 40px;
}
.btn {
  padding: 10px 20px;
  background-color: #e465c6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: transform 0.3s; 
}
.titulo {
    text-align: center;
    font-size: 15px;
    margin-bottom: 5px;
}
.subtitulo {
    text-align: center;
    color: #d0c9c9;
    margin-bottom: 30px;
}
.contenedor {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
}
.deportes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card h3 {
    margin-top: 0;
}
.estadisticas {
    background: linear-gradient(135deg, #3facca 10%, #279CF5 60%);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    text-align: center;
}
.estadisticas h2 {
    margin: 0;
    font-size: 30px;
}
.noticias {
    padding: 1.5rem;
}
.noticia {
    background-color: rgb(232, 232, 232);
    padding: 2rem;
    border-radius: 8px;
    overflow: hidden;
    margin: 2rem 0 2rem;
    border-left: 6px solid #279CF5;
}
.noticia h4{
    color: #279CF5;
}
.contenido-footer {
    background-color: #1d2c37;
    color: white;
    text-align: center;
    padding: 15px;
}